<html>

<head>

	<title>
		Atom-JSS portal
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles%}
	{% angularjs ng %}
	<link rel="stylesheet" href="{% static 'student/css/default.css' %}">
	<link rel="stylesheet" href="{% static 'student/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'student/css/font-awesome.css' %}">

	<script src="{% static 'student/js/jquery.js' %}"></script>
	<script src="{% static 'student/js/angular.min.js' %}"></script>
	<script src="{% static 'student/js/angular-route.js' %}" ></script>

</head>

<body ng-app="Atom">


	<div class="login-modal">

		<div class="cross">
			<i class="fa fa-times"></i>
		</div>

		<div class="form">
			<h2> LOGIN </h2>

			<form>
				<input type="text" placeholder="Username">
				<br>
				<input type="password" placeholder="Password">
				<br>
				<div class="submit">Submit</div>
			</form>
		</div>

	</div>

	<div class="header" ng-controller="land_ctrl">
		<div class="row">
			<div class="logo col col-3">
				<img src="{% static 'images/logo.png' %}">

			</div>
			<div class="links col col-9">
				<ul>
					<li>
						<a href="#">Home</a>


					</li>
					<li>
						<a href="#">Students</a>
					</li>
					<li>
						<a href="#">Teachers</a>
					</li>
					<li>
						<a href="#">Placements</a>
					</li>
					<li>
						<a href="#" ng-click='login()'>Login</a>
					</li>

				</ul>
			</div>
		</div>

	</div>



	<ng-view></ng-view>




	<!-- scripts=================== -->

	<script src="{% static 'student/js/app/app.js' %}"></script>


	<!--	directives========================-->
	<script src="{% static 'student/js/directives/landing.js' %}"></script>
	<!--	controllers==================== -->
	<script src="{% static 'student/js/controllers/maincontroller.js' %}"></script>

	<!--	services===-->
	<script src="{% static 'student/js/services/data.js' %}"></script>
	<script src="{% static 'student/js/services/placement.js %}"></script>
	{% endangularjs %}
</body>

</html>